body{
	background-image: url('../Imgs/mainBg.jpg');
	background-size: cover;
}


.extremes img{
	height: 250px;
}
.state{
	height: 430px;
}
img{
	height: 200px;
	border-radius: 20px 20px 20px 20px;
}
.left{

	border-radius: 20px 0px 0px 20px;

}

.climate .text{

	border-radius: 0px 20px 20px 0px;

}

.mainData{
	height: 200px;
}
.text{
	text-align: center;
	padding: 0.5em;
	background-color: rgba(255, 255, 255, 0.7);
	border: 2px solid rgba(0,0,0,0.2);
}

.mainData, .climate, .extremes{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 2em;
}

/* |_|0|_|
   |_|_|0|
   |0|0|0| */
